<div class="navbar-items d-flex flex-row gap-3">
  <app-sidebar-item title="Opportunities" routerLink="/Dashboard/opportunity"></app-sidebar-item>
  <app-sidebar-item title="Customers" routerLink="/Dashboard/Customers"></app-sidebar-item>
  <app-sidebar-item title="Contacts" routerLink="/Dashboard/Contacts"></app-sidebar-item>
  <app-sidebar-item title="Projects" routerLink="/Dashboard/Projects"></app-sidebar-item>
  <app-sidebar-item title="Reports" routerLink="/Dashboard/Reports"></app-sidebar-item>
</div>
