
.project-page {
  background-color: #f8f9fa;
  /* width: 100vw; */
  padding: 0;  /* Remove any extra padding */
  padding-top: 25px;
  margin: 0;   /* Remove any extra margins */
  display: flex;
  flex-direction: column;
  align-items: center; 
}

